{% extends "ticketit/layout.html"%}
{% block start %}

<div class="">
    <form class="needs-validation"  method="POST" action="/forgot-password/reset/">
        {% csrf_token %}
      <div class="form-row">
          <label for="validationCustomPassword">Current Password</label>
          <input type="password" name="password1" class="form-control" id="validationCustomPassword" placeholder="Currrent Password" required>
      </div>
      <div class="form-row">
          <label for="validationCustomPassword">New Password</label>
          <input type="password" name="password2" class="form-control" id="validationCustomPassword" placeholder="New Password" required>
      </div>
      <div class="form-row">
          <label for="validationCustomPassword">Confirm New Password</label>
          <input type="password" name="password3" class="form-control" id="validationCustomPassword" placeholder="ConfirmNew Password" required>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <p>&nbsp;</p>
          <button class="btn btn-primary" type="submit">Update Profile</button>
        </div>
        
      </div>

    </form>
  </div>
{% endblock start %}